@import url(bootstrap.min.css);
@import url(css/fonts.css);
@import url(css/animation.css);

body {
    background-color: #000;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.dashboard {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 2048px;
  height: 1152px;
}
.noJob {
    display: none;
}

.hasJob[data-value="false"] > .noJob {
    display: block;
}

.noJob > .row {
    margin-top: 270px;
}
.yesJob {
    visibility: hidden;
}

.hasJob.yes > .yesJob {
    visibility: visible;
}
._header > ._row,
._footer > ._row {
    color: #FFF;
    background-color: #000;
}
._headerItem {
    font-size: 5em;
}
._headerEnd {
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
._headerRow {
    color: #FFF;
    background: #888e96; /* Old browsers */
    background: -moz-linear-gradient(top,  #888e96 0%, #5e656b 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888e96), color-stop(36%,#5e656b), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #888e96 0%,#5e656b 36%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888e96', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
._footerRow {
    color: #FFF;
    background: #888e96; /* Old browsers */
    background: -moz-linear-gradient(top,  #888e96 0%, #5e656b 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888e96), color-stop(36%,#5e656b), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #888e96 0%,#5e656b 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #888e96 0%,#5e656b 36%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888e96', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
._container {
    min-height: 770px;
    max-height: 770px;
    background-image: url("img/bg.png");
}
._hasJobHeader {
    background-color: #888;
}

._hasJobHeader p {
    color: #FB9912;
    padding-left: 40px;
}
._font-color-and-size {
    color: #FFF;
    font-size: 5em;
}
._cargoInfo {
    padding-left: 40px;
}
._cargoRightSide {
    text-align: right;
    padding-right: 125px;
}
._footerSelected {
    border-bottom: solid 4px orange;
    background-color: #222;
}
a, a:hover, a:visited, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}
._fuelBar {
    max-width: 20px;
    
}
._fuelBarColor {
    background-color: #F3C24C;
}
._damageBarColor {
    background-color: #930002;
}
.progress {
    background-color: #888;
}
._max400 {
    max-height: 400px;
    overflow: hidden;
}
._filler {
    position: relative;
    color: #FF0000;
}
/* CSS Rule to apply the "damage" effect as seen in ETS2 */
._filler span {
    position: absolute;
    color: #FFF;
    overflow: hidden;
}

.yesJob > .row:nth-child(odd) {
    background-color: rgba(100,100,100,0.5);
}

._navArrow {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 1008px;
    top: 335px;
    z-index: 0;
}

._overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    min-height: 660px;
    max-height: 660px;
    min-width: 2048px;
    max-width: 2048px;
    z-index: 1;
}
.dashboard.connected .has-connection {
    display: none;
}

.dashboard.connected .no-connection {
    display: block;
}

.dashboard.connected.yes .has-connection {
    display: block;
}

.dashboard.connected.yes .no-connection {
    display: none;
}