<section id="about" class="text-center">
    <div class="container">
        <h1><i class="fa fa-question-circle"></i> About</h1>
        <p>If you've played Euro Truck Simulator 2 (ETS2) before, you are probably aware of the "Route Advisor", the little dashboard that appears on the left or right-hand side of the screen that shows you your GPS, along with cargo and truck information.  The Mobile Route Advisor is a skin for Funbit's <a href="https://www.github.com/funbit/ets2-telemetry-server" target="_blank">ETS2 telemetry server</a>, which will allow you to view most of this information on any device that has a web browser installed.</p>
        <p>Currently, there is no turn-by-turn guidance included in the Mobile Route Advisor, as the required information is not available through SCS Software's Telemetry SDK at this time.</p>
    </div>
</section>