<div class="row" id="current-job">
    <div class="container">
        <div class="col-sm-6">
            <h1><i class="fa fa-truck"></i> Current Job</h1>
            <p>The current job pane shows you relevant information about your current job, including:</p>
            <ul>
                <li>Cargo name</li>
                <li>Cargo weight</li>
                <li>Destination company</li>
                <li>Destination location</li>
                <li>Expected delivery date and time</li>
                <li>Job income</li>
                <li>Time remaining until deadline</li>
                <li>Next rest stop time</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <p>Image placeholder</p>
        </div>
    </div>
</div>