<div class="jumbotron text-center">
    <h1 class="display-1">{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>
    <a id="top-download-link" class="btn btn-warning" href="https://github.com/mkoch227/ets2-mobile-route-advisor/releases/download/{{ site.latest-version }}/{{ site.latest-version }}.zip">
        <i class="fa fa-cloud-download"></i>
        Download Latest Version ({{ site.latest-version }})
    </a>
    <br>
    <img src="img/title-image.png" alt="Screenshot of the mobile route advisor">
</div>