<section class="row" id="language">
    <div class="container">
        <div class="col-sm-6">
            <p>Image placeholder</p>
        </div>
        <div class="col-sm-6">
            <h1><i class="fa fa-language"></i> Multi-language Support</h1>
            <div class="contents">
                <p>The Mobile Route Advisor supports multiple languages, provided by the community. Available languages to download (<i>NOTE: You may have to right-click and select "Save Link As..."</i>):</p>
                <div id="language-list">[languages populated here]</div>
            </div>
        </div>
    </div>
</section>