<section class="row" id="navigation">
    <div class="container">
        <div class="col-sm-6">
            <p>Image placeholder</p>
        </div>
        <div class="col-sm-6">
            <h1><i class="fa fa-location-arrow"></i> Navigation</h1>
            <p>The navigation pane will show you your current spot on the map as you are driving, in real-time.  The map gives you three options:</p>
            <ul>
                <li>Free form (drag/pan and zoom)</li>
                <li>Fixed on truck, up is always north</li>
                <li>Fixed on truck, map rotates so up is direction truck is facing</li>
            </ul>
        </div>
    </div>
</section>