<section class="row" id="navigation">
    <div class="container">
        <div class="col-sm-6">
            <p>Image placeholder</p>
        </div>
        <div class="col-sm-6">
            <h1><svg width="0.9em" height="0.9em"><use xlink:href="#svg-compass" fill="#000"/></svg> Navigation <span class="label label-warning">New in 3.0.0</span></h1>
            <div class="contents">
                <p>The navigation pane will show you your current spot on the map as you are driving, in real-time.  The map gives you three options:</p>
                <ul>
                    <li>Free form (drag/pan and zoom)</li>
                    <li>Fixed on truck, up is always north</li>
                    <li>Fixed on truck, map rotates so up is direction truck is facing</li>
                </ul>
                <p>Additionally, the following information is available:</p>
                <ul>
                    <li>Speed limit</li>
                    <li>Estimated time of arrival</li>
                    <li>Distance remaining</li>
                    <li>Time remaining until arrival</li>
                </ul>
            </div>
        </div>
    </div>
</section>